<h5 class="text-center">User List</h5>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>

            <td>
                <button type="button" class="btn btn-info btn-sm mr-2" routerLink='/add/{{ user.id }}'>Edit</button>

                <button type="button" class="btn btn-danger btn-sm" (click)="removeUser(user)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>